.Film__preview {
  width: 72px;
  height: 72px;
  border-radius: 6px;
  margin-right: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Film__authorPhoto {
  z-index: 0;
}
.Film .Cell__before-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Film .Tappable {
  padding: 6px 12px;
}
