.Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0 18px 0;
  width: 80%;
  margin: 0 auto;
}
.Actions__item .TabbarItem__in {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Actions__item .TabbarItem__text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.08px;
}
.Actions__notifications {
  color: var(--writebar_icon);
}
